# Query 1:  What percentage of all licensed sets ever released were Star Wars themed

## import necessary libraries

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.1.8
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

### import datasets

In [10]:
lego<-read_csv('datasets/lego_sets.csv') %>% as_tibble()
str(lego)
themes<-read_csv('datasets/themes.csv')  %>% as_tibble()
str(themes)

Rows: 11986 Columns: 6
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (4): set_num, name, theme_name, parent_theme
dbl (2): year, num_parts

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

tibble [11,986 × 6] (S3: tbl_df/tbl/data.frame)
 $ set_num     : chr [1:11986] "00-1" "0011-2" "0011-3" "0012-1" ...
 $ name        : chr [1:11986] "Weetabix Castle" "Town Mini-Figures" "Castle 2 for 1 Bonus Offer" "Space Mini-Figures" ...
 $ year        : num [1:11986] 1970 1978 1987 1979 1979 ...
 $ num_parts   : num [1:11986] 471 NA NA 12 12 12 NA NA NA NA ...
 $ theme_name  : chr [1:11986] "Castle" "Supplemental" "Lion Knights" "Supplemental" ...
 $ parent_theme: chr [1:11986] "Legoland" "Town" "Castle" "Space" ...

Rows: 111 Columns: 3
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (1): name
dbl (1): id
lgl (1): is_licensed

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

tibble [111 × 3] (S3: tbl_df/tbl/data.frame)
 $ id         : num [1:111] 1 22 50 112 126 147 155 158 186 204 ...
 $ name       : chr [1:111] "Technic" "Creator" "Town" "Racers" ...
 $ is_licensed: logi [1:111] FALSE FALSE FALSE FALSE FALSE FALSE ...

In [11]:
themes  %>% slice(1:10)

   id  name              is_licensed
1    1 Technic           FALSE
2   22 Creator           FALSE
3   50 Town              FALSE
4  112 Racers            FALSE
5  126 Space             FALSE
6  147 Pirates           FALSE
7  155 Modular Buildings FALSE
8  158 Star Wars          TRUE
9  186 Castle            FALSE
10 204 Designer Sets     FALSE

In [12]:
lego  %>% slice(1:10)

   set_num name                         year num_parts theme_name
1  00-1    Weetabix Castle              1970 471       Castle
2  0011-2  Town Mini-Figures            1978  NA       Supplemental
3  0011-3  Castle 2 for 1 Bonus Offer   1987  NA       Lion Knights
4  0012-1  Space Mini-Figures           1979  12       Supplemental
5  0013-1  Space Mini-Figures           1979  12       Supplemental
6  0014-1  Space Mini-Figures           1979  12       Supplemental
7  0015-1  Space Mini-Figures           1979  NA       Supplemental
8  0016-1  Castle Mini Figures          1978  NA       Castle
9  00-2    Weetabix Promotional House 1 1976  NA       Building
10 00-3    Weetabix Promotional House 2 1976  NA       Building
   parent_theme
1  Legoland
2  Town
3  Castle
4  Space
5  Space
6  Space
7  Space
8  Castle
9  Legoland
10 Legoland

In [48]:
# merge lego and themes based on name and theme_name
merged <- merge(x=lego, y=themes,by.x='parent_theme',by.y='name' )
# we have some null values in set_num so we have to remove them
merged %>% filter(!is.na(set_num) & is_licensed==TRUE) %>% nrow()->licensed
merged %>% filter(!is.na(set_num) & parent_theme=='Star Wars' & is_licensed==TRUE) %>% nrow()->licensed_and_star_wars
ans<-round((licensed_and_star_wars/licensed)*100,2)
ans

[1] 51.65

# In Which year was Star Wars not the most popular licensed theme( in terms of number of sets released that year)

In [74]:
merged  %>% filter(!is.na(set_num) & is_licensed==TRUE)->licensed
licensed  %>% arrange(year)  %>% group_by(year,parent_theme) %>% summarise(count=n()) %>% distinct(year,count,parent_theme)

`summarise()` has grouped output by 'year'. You can override using the `.groups` argument.

   year count parent_theme
1  1999 13    Star Wars
2  2000  5    Disney's Mickey Mouse
3  2000 26    Star Wars
4  2001 11    Harry Potter
5  2001 14    Star Wars
6  2002 19    Harry Potter
7  2002 28    Star Wars
8  2002  3    Super Heroes
9  2003  3    Harry Potter
10 2003 32    Star Wars
11 2003  5    Super Heroes
12 2004 14    Harry Potter
13 2004 20    Star Wars
14 2004  6    Super Heroes
15 2005  1    Disney's Mickey Mouse
16 2005  5    Harry Potter
17 2005 28    Star Wars
18 2005  1    Super Heroes
19 2006  2    Avatar
20 2006  3    SpongeBob SquarePants
21 2006 11    Star Wars
22 2006  8    Super Heroes
23 2007  1    Harry Potter
24 2007  2    SpongeBob SquarePants
25 2007 16    Star Wars
26 2007  2    Super Heroes
27 2008 12    Indiana Jones
28 2008  3    SpongeBob SquarePants
29 2008 23    Star Wars
30 2008  5    Super Heroes
⋮  ⋮    ⋮     ⋮
54 2013 19    Super Heroes
55 2013  9    Teenage Mutant Ninja Turtles
56 2013 13    The Hobbit and Lord of the Rings
57 2013  8    The Lone Ranger
58 2014  8    Disney Princess
59 2014  7    Minecraft
60 2014 45    Star Wars
61 2014 23    Super Heroes
62 2014 10    Teenage Mutant Ninja Turtles
63 2014  6    The Hobbit and Lord of the Rings
64 2015  4    Disney Princess
65 2015  7    Jurassic World
66 2015  4    Minecraft
67 2015  5    Scooby-Doo
68 2015 58    Star Wars
69 2015 28    Super Heroes
70 2015  1    The Hobbit and Lord of the Rings
71 2016  6    Angry Birds
72 2016  1    Disney
73 2016 11    Disney Princess
74 2016  1    Ghostbusters
75 2016  7    Minecraft
76 2016  1    Scooby-Doo
77 2016 61    Star Wars
78 2016 33    Super Heroes
79 2017  6    Disney Princess
80 2017  9    Minecraft
81 2017  1    Pirates of the Caribbean
82 2017 55    Star Wars
83 2017 72    Super Heroes